{% extends "base.html" %}

{% block content %}
<div class="row mt-5 login">
    <div class="col"></div>
    <div class="col">
        <img class="logo" src="{{ url_for('static', filename='img/Logo-white.svg') }}">
        <form action="" method="POST" novalidate class="login-form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(for="username") }}
                {{ form.username(class="form-control", placeholder="Login") }}
                {% for error in form.username.errors %}
                <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label(for="password") }}
                {{ form.password(class="form-control", placeholder="Password") }}
                {% for error in form.password.errors %}
                <div class="alert alert-danger mt-3" role="alert">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-login">Login</button>
        </form>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger mt-3" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="col"></div>
</div>
{% endblock %}
